/* Estilo para centralizar o formulário */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o botão de login */
.btn {
    background-color: #1976D2;
}
